/* ===========================
Fonts
============================== */



@font-face {
  font-family: OpenSans-Regular;
  src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: Lovelo-Black;
  src: url('../font/lovelo-black.otf');
}

@font-face {
  font-family: DecoNeue-Light;
  src: url('../font/DecoNeue-Light.ttf');
}

/* ===========================
General
============================== */

body {
    font-family: OpenSans-Regular, Helvetica, Helvetica Neue, Arial;
    font-size: 16px;
    background-color: #F0F0E1;
}

/* ===========================
Main Header Navigation
============================== */

.header-container {
    height: 80px;
    background: white;
    opacity:0.9;
    -webkit-box-shadow: 0px 1px 1px rgba(221, 221, 221, 1);
    -moz-box-shadow:    0px 1px 1px rgba(221, 221, 221, 1);
    box-shadow:         0px 1px 1px rgba(221, 221, 221, 1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.enter-button {
  width: 120px;
  height: 50px;
  position: fixed;
  right: 50px;
  top: 15px;
  background-color: #76908B;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  opacity: 1;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-family: Lovelo-Black, Helvetica, Helvetica Neue, Arial;
}

.enter-button a:visited {
  text-decoration: none;
}


.hero-container {
  position: absolute;
  background-image: url(../img/wrightbrothersplane.png);
  background-repeat: no-repeat;
  background-size: 100%;

  top: 80px;
  width: 100%;
  text-align: center;
  height: 550px;
  color: white;
}

.site-title {
  position: relative;
  font-family: Lovelo-Black, Helvetica, Helvetica Neue, Arial;
  text-align: center;
  font-size: 4.5em;
  z-index: 80;
  margin-top: 150px;
}

.site-slogan {
  position: relative;
  font-family: DecoNeue-Light, OpenSans-Regular, Helvetica, Helvetica Neue, Arial;
  text-align: center;
  font-size: 2em;
  z-index: 80;
  margin-top: 100px;
  line-height: 130%;
}

.hero-image-darkenlayer {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  background-size: 100%;
  height: 550px;
}




.sitedescription-container {
  position: absolute;
  top: 630px;
  height: 500px;
  text-align: center;
  font-size: 2em;
  color: #76908B;
  width: 100%;
  background-color: white;

  line-height: 40px;
}

.sitedescription {
  position: relative;
  text-align: center;
  margin-top: 200px;
}

.usercaseexamples-container {
  position: absolute;
  top: 1130px;
  height: 700px;
  background-color: #76908B;
  width: 100%;
}

.mobiledevices-container {
  position: absolute;
  top: 1830px;
  height: 700px;
  background-color: white;
  width: 100%;
}

.mobiledevices-image img {
  margin: 0 auto;
  position: relative;
  height: 700px;
  width: 960px;
  top: 0px;  
  vertical-align: middle;
}


/* ===========================
Footer
============================== */

.footer-container {
  position: absolute;
  top: 2530px;
  height: 300px;
  background-color: #BAC7C5;
  width: 100%;
}



/* ===========================
Nav
============================== */
