/* ===========================
Fonts
============================== */



@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: Lovelo-Black;
  src: url('../fonts/lovelo-black.otf');
}

@font-face {
  font-family: Idealist;
  src: url('../fonts/Idealist.otf');
}

/* ===========================
General
============================== */

body {
    font-family: OpenSans-Regular, Helvetica, Helvetica Neue, Arial;
    font-size: 16px;
    background-color: #F0F0E1;
}







/* ===========================
Main Header 
============================== */

.header-container {
    height: 80px;
    background: white;
    -webkit-box-shadow: 0px 1px 1px rgba(221, 221, 221, 1);
    -moz-box-shadow:    0px 1px 1px rgba(221, 221, 221, 1);
    box-shadow:         0px 1px 1px rgba(221, 221, 221, 1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}












.title-head { 
    font-family: Idealist, Helvetica, Helvetica Neue, Arial;
    color: #76908B;
    font-size: 1.4em;
    margin: 0px;
    margin-top: 15px;
}

.title-description {
    color: #AAAAAA;
    font-size: 0.8em;
    margin-top: 0px;
}

.share-button {
    height: 50px;
    width: 240px;
    margin: 15px;
    background-color: #76908B;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 0.8em;
    color: white;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 80px;
}

.share-button:hover {
    background-color: #50635F;
}

.share-button:active {
    background-color: #76908B;
    opacity: 0.8;
    -webkit-box-shadow: inset 2px 2px 2px 1px ##003F7;
    box-shadow: inset 2px 2px 2px 1px ##003F7;
}

.search-button {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
    margin: 15px;
    background-color: #BBBBBB;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-image: url(../img/search-button-sprite.png);
    background-position: 0px 0px; 
}

.search-button:hover {
    height: 50px;
    width: 50px;
    background-image: url(../img/search-button-sprite.png);
    background-position: 0px 50px; ; 
}

/* ===========================
Content Area
============================== */

.content-wrapper {
  position: absolute;
  top: 80px;
  padding-left: 150px;
}

.content-wrapper-header {
  height: 100px;
  width: 100%;
  display: block;
  position: absolute;
}


/* ===========================
Content - New Post
============================== */

.content-newpost {
  background: white;
  width: 300px;
  height: 420px;
  -webkit-box-shadow: 0px 1px 1px rgba(221, 221, 221, 1);
  -moz-box-shadow:    0px 1px 1px rgba(221, 221, 221, 1);
  box-shadow:         0px 1px 1px rgba(221, 221, 221, 1);
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  float: left;
  display: block;
  margin: 30px;
  margin-top: 50px;
  position: relative;
}



.content-title {
  text-shadow: 1px 1px 2px #555;
  font-size: 16px;
  color: white;
  margin: 5px;
  margin-left: 10px;
  z-index: 10;
  position: relative;
  font-style: bold;
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
}

.content-remixcount {
  text-shadow: 1px 1px 2px #555;
  font-size: 12px;
  color: white;
  margin: 5px;
  margin-top: 0px;
  margin-left: 10px;
  z-index: 10;
  position: absolute;
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
}

.content-photo {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 8;
  top: 0px;
}

.content-photo-gradient {
  background: linear-gradient(#333333, transparent);
  position: absolute;
  height: 300px;
  width: 300px;
  top: 0;
  height: 20%;
  z-index: 9;
}


hr.content-newpost-line {
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #eeeeee;
  padding: 0;
  width: 280px;
  margin: 0 auto;
  position: absolute;
  bottom: 60px;
  left: 10px;
}

.user-photo {
  height: 40px;
  width: 40px;
  margin: 10px;
  position: absolute;
  top: 300px;
}
.username {
  font-size: 14px;
  font-style: bold;
  color: #76908B;
  position: absolute;
  top: 315px;
  left: 60px;
  cursor: pointer;
}

time {
  position: absolute;
  
  font-size: 14px;
  color: #999999;
  top: 315px;
  right: 10px;
}

/* ===========================
Like Button for Content Post
============================== */

.like-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 70px;
  height: 40px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  z-index: 10;
  background-image: url(../img/likeandfav-sprite.png);
  background-position: 4px 0px; 
}

#mynum {
  color: black;
}

input[type=button] {
    height: 40px;
    width: 70px;
}

.like-button:hover {
  border: 1px solid #dddddd;
  background-image: url(../img/likeandfav-sprite.png);
  background-position: -136px 0px; 
}

.like-button:active {
  -moz-box-shadow:inset 0px 2px 5px 1px #dddddd;
  -webkit-box-shadow:inset 0px 2px 5px 1px #dddddd;
  box-shadow:inset 0px 2px 5px 1px #dddddd;
  
}


/* ===========================
Fav Button for Content Post
============================== */

.fav-button {
  position: absolute;
  bottom: 10px;
  left: 90px;
  width: 70px;
  height: 40px;
  z-index: 10;

  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

  background-image: url(../img/likeandfav-sprite.png);
  background-position: -64px 0px; 
}

.fav-button:hover {
  border: 1px solid #dddddd;
  background-image: url(../img/likeandfav-sprite.png);
  background-position: -205px 0px; 
}

.fav-button:active {
  -moz-box-shadow:inset 0px 2px 5px 1px #dddddd;
  -webkit-box-shadow:inset 0px 2px 5px 1px #dddddd;
  box-shadow:inset 0px 2px 5px 1px #dddddd;
}

/* ===========================
Add Remix Button for Content Post
============================== */


.addremix-button {
  width: 80px;
  height: 40px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color: #76908B;
  color: white;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.addremix-button:hover {
    background-color: #50635F;
}

.addremix-button:active {
    background-color: #76908B;
    opacity: 0.8;
    -webkit-box-shadow: inset 2px 2px 2px 1px ##003F7;
    box-shadow: inset 2px 2px 2px 1px ##003F7;
}




/* ===========================
Footer
============================== */

.footer {
    position: fixed;
    bottom: 0px;
    margin-top: 50px;
}





/* ===========================
Left Nav Pop Out
============================== */

.nav > section {
  width: 50px;
  height: 50px;
  float: left;
    margin: 15px;
    background-color: #76908B;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.nav > section button {
  border: none;
  background: #76908B;
  color: #fff;
  padding: 1.5em;
  display: block;
  width: 100%;
  cursor: pointer;
  margin: 10px 0;
  font-size: 0.8em;
}

.nav > section button:hover {
  background: #76908B;
}

.nav > section button.active {
  background: #76908B;
  -webkit-box-shadow: inset 2px 2px 2px 1px ##003F7;
    box-shadow: inset 2px 2px 2px 1px ##003F7;
}

.nav > section button.disabled {
  background: #aaa;
  pointer-events: none;
}


/* General styles for all menus */
.cbp-spmenu {
  background: #76908B;
  position: fixed;
}

.cbp-spmenu > h3 {
  color: #FFFFFF;
  font-size: 1em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #4F625E;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #4F625E;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #4F625E;
  padding: 1em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }

  .cbp-spmenu-bottom {
    bottom: -110px;
  }

}

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }

  .cbp-spmenu-push-toright {
    left: 190px;
  }
}

